@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, luxury;
}

[data-theme="luxury"] .modal-custom {
  @apply bg-primary text-secondary;
}

[data-theme="cupcake"] .modal-custom {
  @apply bg-accent text-base-content;
}

[data-theme="luxury"] .custom-table {
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 95%);
}

[data-theme="cupcake"] .custom-table {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 20%);
}

[data-theme="dark"] .custom-button {
  @apply bg-accent text-white font-bold;
}

[data-theme="light"] .custom-button {
  @apply bg-primary text-white font-bold;
}

[data-theme="dark"] .edit-button {
  @apply bg-blue-600 text-white font-bold hover:bg-blue-700 transition px-3 py-1 rounded;
}

[data-theme="light"] .edit-button {
  @apply bg-blue-500 text-white font-bold hover:bg-blue-600 transition px-3 py-1 rounded;
}

[data-theme="luxury"] .custom-input {
  @apply bg-secondary text-primary;
}

[data-theme="cupcake"] .custom-input {
  @apply bg-amber-200 text-black;
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--color-primary);
    text-decoration: none;
  }
}